.sidebar
  .logo-area.text-center Remosite
  .ul.links-area.list-unstyled
   li: a(href = '#') HOME PAGE
   li
    a(href="#").slide FORMS
     i.fa.fa-angle-right.toggle-menu
    ul.child-links.list-unstyled
     li: a(href = '#') Input
     li: a(href = '#') Textarea
     li: a(href = '#') checkbox
     li: a(href = '#') Radio
   li
    a(href="#").slide Misc
      i.fa.fa-angle-right.toggle-menu

    ul.child-links.list-unstyled
     li: a(href = '#') News
     div(class="rere")
     li: a(href = '#') Breadcrump
    
