<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HOMEPAGE
        include pug\layout\styles
    body
     .page.homepage
        include pug\layout\sidebar
        .content-area 
         .header
           i.fas.fa-exchange-alt.Toggle
         .content
          h1 HOME page
     include pug\scripts\scripts
     

     script(src="http://localhost:35729/livereload.js")
 
